/datasets_labeled
/inference_predictions
/validation_predictions
/images
/models/canicas/**/train*
/excels/*/aux_files/*aux*
/excels/*/aux_files/*txt
/files
*.avi
*.onnx
*.engine
*.pt
*.zip
/jetson_dla_tutorial
/cuDLA-samples
/create_dataset/**/*.jpg
/create_dataset/**/*.txt
/create_dataset/**/*.png
/create_dataset/**/*.mp4

/scripts/runs
/scripts/slices

