/datasets_labeled/2024_10_07_canicas_dataset
/datasets_labeled/2024_10_21_canicas_dataset
/datasets_labeled/2024_10_24_canicas_dataset
/datasets_labeled/2024_11_15_canicas_dataset
/datasets_labeled/2024_11_28_canicas_dataset
/datasets_labeled/2025_02_24_canicas_dataset
/datasets_labeled/videos

/inference_predictions
/validation_predictions
/images
/models/canicas/**/train*
/excels/*/aux_files/*aux*
/excels/*/aux_files/*txt
/files
*.avi
*.onnx
*.engine
*.pt

/jetson_dla_tutorial
/cuDLA-samples
/create_dataset/**/*.jpg
/create_dataset/**/*.txt
/create_dataset/**/*.png
/create_dataset/**/*.mp4

/scripts/runs
/scripts/slices
/scripts/validation_predictions

/scripts/validate_tracking/labels
/scripts/validate_tracking/*.mp4

/scripts/cosas/train_logs


